.tt-grid,.tt-grid-wrapper nav{text-align:center}.tt-grid-wrapper ::before,.tt-grid-wrapper :after{-moz-box-sizing:border-box;box-sizing:border-box}.tt-grid{position:relative;margin:10px auto;padding:0;max-width:100%;list-style:none;font-size:0}.tt-grid:after,.tt-grid:before{display:table;content:' '}.tt-grid:after{clear:both}.tt-grid li{position:relative;display:inline-block;margin:10px;width:calc(20% - 22px);height:225px;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);-webkit-border-radius: 2px;border-radius: 5px;overflow: hidden;}.tt-grid li a,.tt-grid li a img{display:block;margin:0 auto;border:none;height:100%}.tt-grid li a{background:#000;position:absolute;top:0;left:0;width:100%}.tt-grid li a:nth-child(2){z-index:1;visibility:hidden}.tt-effect-fallrotate.tt-effect-active li a:nth-child(2),.tt-effect-fallrotate.tt-effect-active li.tt-empty a,.tt-effect-slide.tt-effect-active a:nth-child(2){visibility:visible}.tt-grid li .tt-grid-caption{position:absolute;bottom:0;display:block;width:100%}.tt-grid li .tt-grid-caption span{padding:10px;display:block;background:rgba(0,0,0,.37);color:#FFF;font-size:11px}.tt-grid li .videoplay{position:static;color:#FFF}.tt-grid li .videoplay .fa{position:absolute;top:50%;height:32px;margin-top:-16px;width:32px;margin-left:-16px;left:50%;text-align:center;font-size:30px}.tt-grid-wrapper nav a{display:inline-block;margin:0 8px;width:18px;height:18px;border-radius:50%;background:#000;cursor:pointer;opacity:.7;transition:all .2s}.touch .tt-grid-wrapper nav a{width:30px;height:30px}.tt-grid-wrapper nav a:hover{opacity:1}.tt-grid-wrapper nav a.tt-current{opacity:1;box-shadow:0 0 0 5px rgba(0,0,0,.4)}.tt-grid.tt-effect-active li a{pointer-events:none}.tt-effect-fall.tt-effect-active li:not(.tt-empty) a:first-child{-webkit-animation:fallDown .6s forwards;animation:fallDown .6s forwards}.tt-effect-fall.tt-effect-active li a:nth-child(2),.tt-effect-fall.tt-effect-active li.tt-empty a{opacity:0;-webkit-animation:scaleUpFadeIn .6s forwards;animation:scaleUpFadeIn .6s forwards}.tt-effect-slide.tt-effect-active li:not(.tt-empty) a:first-child{z-index:100;overflow:hidden;margin:0;-webkit-animation:slideOut .5s forwards;animation:slideOut .5s forwards}.tt-effect-slide.tt-effect-active li:not(.tt-empty) a:only-child{-webkit-animation:fadeOut .5s forwards;animation:fadeOut .5s forwards}.tt-effect-slide.tt-effect-active li.tt-empty a{-webkit-animation:fadeIn .5s forwards;animation:fadeIn .5s forwards}.tt-effect-fallrotate.tt-effect-active li:not(.tt-empty) a:first-child{z-index:10;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-animation:fallRotate .6s ease-in forwards;animation:fallRotate .6s ease-in forwards}.tt-effect-fallrotate.tt-effect-active li.tt-empty a{opacity:0;-webkit-animation:fadeIn .6s forwards;animation:fadeIn .6s forwards}.tt-effect-fallrotate li:nth-child(4){z-index:1}.tt-effect-fallrotate li:nth-child(5){z-index:2}.tt-effect-fallrotate li:nth-child(6){z-index:3}.tt-effect-fallrotate li:first-child{z-index:4}.tt-effect-fallrotate li:nth-child(2){z-index:5}.tt-effect-fallrotate li:nth-child(3){z-index:6}.tt-effect-scalerotate.tt-effect-active li:not(.tt-empty) a:first-child{-webkit-animation:scaleRotateOut .6s forwards;animation:scaleRotateOut .6s forwards}.tt-effect-scalerotate.tt-effect-active li a:nth-child(2),.tt-effect-scalerotate.tt-effect-active li.tt-empty a{opacity:0;-webkit-animation:scaleRotateIn .6s forwards;animation:scaleRotateIn .6s forwards}.tt-effect-scalerotate.tt-effect-active li:not(.tt-empty) a:only-child{-webkit-animation:fadeOut .6s forwards;animation:fadeOut .6s forwards}.tt-effect-scalerotate li:nth-child(-n+3){z-index:2}.tt-effect-scalerotate li:nth-last-child(-n+3){z-index:1}.tt-effect-stackback li{-webkit-perspective:1000px;perspective:1000px}.tt-effect-stackback li a{transform-style:preserve-3d;backface-visibility:hidden}.tt-effect-3dflip li a,.tt-effect-stackback li a{-webkit-transform-style:preserve-3d;-webkit-backface-visibility:hidden}.tt-effect-stackback.tt-effect-active li:not(.tt-empty) a:first-child{-webkit-animation:moveLeft .8s forwards;animation:moveLeft .8s forwards}.tt-effect-stackback.tt-effect-active li a:nth-child(2),.tt-effect-stackback.tt-effect-active li.tt-empty a{z-index:-1;-webkit-animation:popUp .8s ease-in forwards;animation:popUp .8s ease-in forwards}.tt-effect-stackback.tt-effect-active li:not(.tt-empty) a:only-child{-webkit-animation:fadeOut .8s forwards;animation:fadeOut .8s forwards}.tt-effect-stackback.tt-effect-active li.tt-empty a{opacity:0;-webkit-animation:fadeIn .8s forwards;animation:fadeIn .8s forwards}.tt-effect-3dflip li{-webkit-perspective:1000px;perspective:1000px}.tt-effect-3dflip li a{transform-style:preserve-3d;backface-visibility:hidden}.tt-effect-3dflip.tt-effect-active li:not(.tt-empty) a:first-child{-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-animation:rotateOutLeft .6s forwards;animation:rotateOutLeft .6s forwards}.tt-effect-3dflip.tt-effect-active li a:nth-child(2),.tt-effect-3dflip.tt-effect-active li.tt-empty a{opacity:0;-webkit-transform-origin:100% 50%;transform-origin:100% 50%;-webkit-animation:rotateInRight .6s ease-in forwards;animation:rotateInRight .6s ease-in forwards}.tt-effect-bringback li{-webkit-perspective:1000px;perspective:1000px}.tt-effect-bringback li a{transform-style:preserve-3d;backface-visibility:hidden}.tt-effect-bringback li a,.tt-effect-flip li a{-webkit-transform-style:preserve-3d;-webkit-backface-visibility:hidden}.tt-effect-bringback.tt-effect-active li:not(.tt-empty) a:first-child{-webkit-animation:hideLeft .8s forwards;animation:hideLeft .8s forwards}.tt-effect-bringback.tt-effect-active li a:nth-child(2){z-index:-1;-webkit-animation:showRight .8s forwards;animation:showRight .8s forwards}.tt-effect-bringback.tt-effect-active li:not(.tt-empty) a:only-child{-webkit-animation:fadeOut .8s forwards;animation:fadeOut .8s forwards}.tt-effect-bringback.tt-effect-active li.tt-empty a{opacity:0;-webkit-animation:fadeIn .8s forwards;animation:fadeIn .8s forwards}.tt-effect-superscale.tt-effect-active li:not(.tt-empty) a:first-child{-webkit-animation:scaleDown .6s ease-in-out forwards;animation:scaleDown .6s ease-in-out forwards}.tt-effect-superscale.tt-effect-active li a:nth-child(2),.tt-effect-superscale.tt-effect-active li.tt-empty a{opacity:0;-webkit-animation:scaleIn .6s ease-in-out forwards;animation:scaleIn .6s ease-in-out forwards}.tt-effect-flip li{-webkit-perspective:1500px;perspective:1500px}.tt-effect-flip li a{transform-style:preserve-3d;backface-visibility:hidden}.tt-effect-flip.tt-effect-active li:not(.tt-empty) a:first-child{-webkit-animation:flipOut .8s ease-in forwards;animation:flipOut .8s ease-in forwards}.tt-effect-flip.tt-effect-active li a:nth-child(2),.tt-effect-flip.tt-effect-active li.tt-empty a{opacity:0;-webkit-animation:flipIn .8s ease-in forwards;animation:flipIn .8s ease-in forwards}.tt-effect-frontrow li{overflow:hidden}.tt-effect-frontrow.tt-effect-active li:not(.tt-empty) a:first-child{-webkit-animation:moveToBack .8s forwards;animation:moveToBack .8s forwards}.tt-effect-frontrow.tt-effect-active li a:nth-child(2),.tt-effect-frontrow.tt-effect-active li.tt-empty a{-webkit-animation:moveToFront .8s forwards;animation:moveToFront .8s forwards}.tt-effect-frontrow.tt-effect-active li.tt-empty a{opacity:0}.tt-effect-frontrow.tt-effect-active li:not(.tt-empty) a:only-child{-webkit-animation:fadeOut .5s forwards;animation:fadeOut .5s forwards}.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(2) a{-webkit-animation-delay:.1s;animation-delay:.1s}.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(3) a{-webkit-animation-delay:.2s;animation-delay:.2s}.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(4) a{-webkit-animation-delay:.3s;animation-delay:.3s}.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(5) a{-webkit-animation-delay:.4s;animation-delay:.4s}.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(6) a{-webkit-animation-delay:.5s;animation-delay:.5s}.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(5) a{-webkit-animation-delay:.1s;animation-delay:.1s}.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(4) a{-webkit-animation-delay:.2s;animation-delay:.2s}.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(3) a{-webkit-animation-delay:.3s;animation-delay:.3s}.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(2) a{-webkit-animation-delay:.4s;animation-delay:.4s}.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(1) a{-webkit-animation-delay:.5s;animation-delay:.5s}

/* Animations */
@-webkit-keyframes fallDown{to{opacity:0;-webkit-transform:translateY(70%)}}@keyframes fallDown{to{opacity:0;-webkit-transform:translateY(70%);transform:translateY(70%)}}@-webkit-keyframes scaleUpFadeIn{from{opacity:0;-webkit-transform:scale(.8)}to{visibility:visible;opacity:1;-webkit-transform:scale(1)}}@keyframes scaleUpFadeIn{from{opacity:0;-webkit-transform:scale(.8);transform:scale(.8)}to{visibility:visible;opacity:1;-webkit-transform:scale(1);transform:scale(1)}}@-webkit-keyframes slideOut{from{width:100%}to{width:0}}@keyframes slideOut{from{width:100%}to{width:0}}@-webkit-keyframes fadeOut{from{opacity:1}to{opacity:0}}@keyframes fadeOut{from{opacity:1}to{opacity:0}}@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}@-webkit-keyframes fallRotate{0%{-webkit-transform:translateY(0) rotate(0);-webkit-animation-timing-function:ease-in}40%{-webkit-transform:translateY(0) rotate(20deg);-webkit-animation-timing-function:ease-out}60%{-webkit-transform:translateY(0) rotate(15deg);opacity:1}100%{-webkit-transform:translateY(150%) rotate(17deg);opacity:0}}@keyframes fallRotate{0%{-webkit-transform:translateY(0) rotate(0);transform:translateY(0) rotate(0);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}40%{-webkit-transform:translateY(0) rotate(20deg);transform:translateY(0) rotate(20deg);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}60%{-webkit-transform:translateY(0) rotate(15deg);transform:translateY(0) rotate(15deg);opacity:1}100%{-webkit-transform:translateY(150%) rotate(17deg);transform:translateY(150%) rotate(17deg);opacity:0}}@-webkit-keyframes scaleRotateOut{100%{opacity:0;-webkit-transform:scale(0)}}@keyframes scaleRotateOut{100%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}}@-webkit-keyframes scaleRotateIn{0%{opacity:0;-webkit-transform:translateX(50%) translateY(100%) rotate(25deg)}100%{visibility:visible;opacity:1;-webkit-transform:translateX(0) translateY(0) rotate(0)}}@keyframes scaleRotateIn{0%{opacity:0;-webkit-transform:translateX(50%) translateY(100%) rotate(25deg);transform:translateX(50%) translateY(100%) rotate(25deg)}100%{visibility:visible;opacity:1;-webkit-transform:translateX(0) translateY(0) rotate(0);transform:translateX(0) translateY(0) rotate(0)}}@-webkit-keyframes moveLeft{50%{opacity:1;-webkit-transform:translateX(-100%) rotateY(35deg) rotateX(10deg)}100%{opacity:1;-webkit-transform:translateX(0) rotateY(0) rotateX(0)}}@keyframes moveLeft{50%{opacity:1;-webkit-transform:translateX(-100%) rotateY(35deg) rotateX(10deg);transform:translateX(-100%) rotateY(35deg) rotateX(10deg)}100%{opacity:1;-webkit-transform:translateX(0) rotateY(0) rotateX(0);transform:translateX(0) rotateY(0) rotateX(0)}}@-webkit-keyframes popUp{0%{-webkit-transform:translateZ(-200px)}50%{z-index:-1}51%{z-index:1}70%{z-index:1;visibility:visible;-webkit-transform:translateZ(50px);-webkit-animation-timing-function:ease-out}100%{z-index:1;visibility:visible;-webkit-transform:translateZ(0)}}@keyframes popUp{0%{-webkit-transform:translateZ(-200px);transform:translateZ(-200px)}50%{z-index:-1}51%{z-index:1}70%{z-index:1;visibility:visible;-webkit-transform:translateZ(50px);transform:translateZ(50px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{z-index:1;visibility:visible;-webkit-transform:translateZ(0);transform:translateZ(0)}}@-webkit-keyframes rotateOutLeft{100%{opacity:0;-webkit-transform:rotateY(90deg)}}@keyframes rotateOutLeft{100%{opacity:0;-webkit-transform:rotateY(90deg);transform:rotateY(90deg)}}@-webkit-keyframes rotateInRight{0%{opacity:0;-webkit-transform:rotateY(-90deg)}100%{visibility:visible;opacity:1;-webkit-transform:rotateY(0)}}@keyframes rotateInRight{0%{opacity:0;-webkit-transform:rotateY(-90deg);transform:rotateY(-90deg)}100%{visibility:visible;opacity:1;-webkit-transform:rotateY(0);transform:rotateY(0)}}@-webkit-keyframes hideLeft{0%{-webkit-transform:translateZ(0)}40%{-webkit-transform:translate(-40%,0) scale(.8) rotateY(20deg)}100%{opacity:1;-webkit-transform:translateZ(-400px)}}@keyframes hideLeft{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}40%{-webkit-transform:translate(-40%,0) scale(.8) rotateY(20deg);transform:translate(-40%,0) scale(.8) rotateY(20deg)}100%{-webkit-transform:translateZ(-400px);transform:translateZ(-400px)}}@-webkit-keyframes showRight{0%{-webkit-transform:translateZ(-400px)}40%{z-index:-1;-webkit-transform:translate(40%,0) scale(.8) rotateY(-20deg)}41%{z-index:1}100%{z-index:1;visibility:visible;-webkit-transform:translateZ(0)}}@keyframes showRight{0%{-webkit-transform:translateZ(-400px);transform:translateZ(-400px)}40%{z-index:-1;-webkit-transform:translate(40%,0) scale(.8) rotateY(-20deg);transform:translate(40%,0) scale(.8) rotateY(-20deg)}41%{z-index:1}100%{z-index:1;visibility:visible;-webkit-transform:translateZ(0);transform:translateZ(0)}}@-webkit-keyframes scaleDown{100%{opacity:0;-webkit-transform:scale(0)}}@keyframes scaleDown{100%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}}@-webkit-keyframes scaleIn{0%{opacity:0;-webkit-transform:scale(1.2)}100%{visibility:visible;opacity:1;-webkit-transform:scale(1)}}@keyframes scaleIn{0%{opacity:0;-webkit-transform:scale(1.2);transform:scale(1.2)}100%{visibility:visible;opacity:1;-webkit-transform:scale(1);transform:scale(1)}}@-webkit-keyframes flipOut{100%,50%{opacity:0;-webkit-transform:rotateY(90deg)}}@keyframes flipOut{100%,50%{opacity:0;-webkit-transform:rotateY(90deg);transform:rotateY(90deg)}}@-webkit-keyframes flipIn{0%,50%{opacity:0;-webkit-transform:rotateY(-90deg)}75%{visibility:visible;opacity:1;-webkit-transform:rotateY(15deg);-webkit-animation-timing-function:ease-in}100%{visibility:visible;opacity:1;-webkit-transform:rotateY(0)}}@keyframes flipIn{0%,50%{opacity:0;-webkit-transform:rotateY(-90deg);transform:rotateY(-90deg)}75%{visibility:visible;opacity:1;-webkit-transform:rotateY(15deg);transform:rotateY(15deg);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{visibility:visible;opacity:1;-webkit-transform:rotateY(0);transform:rotateY(0)}}@keyframes moveToBack{100%{-webkit-transform:translateX(-60%) scale(.8);transform:translateX(-60%) scale(.8)}}@-webkit-keyframes moveToBack{100%{-webkit-transform:translateX(-60%) scale(.8)}}@-webkit-keyframes moveToFront{0%{-webkit-transform:translateX(100%) scale(.8)}100%{visibility:visible;opacity:1;-webkit-transform:translateX(0) scale(1)}}@keyframes moveToFront{0%{-webkit-transform:translateX(100%) scale(.8);transform:translateX(100%) scale(.8)}100%{visibility:visible;opacity:1;-webkit-transform:translateX(0) scale(1);transform:translateX(0) scale(1)}}

@media screen and (max-width:430px){
	.tt-grid li {
		width: 45%;
		height: 150px;
		margin: 1%;
	}
}

.featured-comic *, .featured-book * {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.featured-comic, .featured-book{
	margin: 10px auto;
    background-color: #2196F3;
	box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7), inset 0 -7px 9px -7px rgba(0,0,0,0.7);
    -webkit-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7), inset 0 -7px 9px -7px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0px 0 7px 9px -7px rgba(0,0,0,0.7), inset 0 -7px 9px -7px rgba(0,0,0,0.7);
    -o-box-shadow: inset 0px 0 7px 9px -7px rgba(0,0,0,0.7), inset 0 -7px 9px -7px rgba(0,0,0,0.7);
}
.gp_products_carousel_header {font-size:1.5em;}
.gp_products_carousel_header span{
	text-transform: uppercase;
	color: #FFF;
}

.text-wrapper *, .text-wrapper *:before, .text-wrapper *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* nt-storytext */
#nt-storytext {margin: auto;}
#nt-storytext-container {
	text-align: center;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
#nt-storytext li {
	color: #000;
	background-color: #fff;
	overflow: hidden;
	height: 80px;
	padding: 10px;
	line-height: 26px;
	list-style: none;
	font-size: 16px;
	text-align: left;
	border-bottom: 1px dotted #2c8162;
}
#nt-storytext li:hover {background-color: #e0f0ff;}
#nt-storytext-container i {
    position: absolute;
    right: -14px;
    bottom: 10%;
    font-size: 30px;
    color: #74CFAE;
    cursor: pointer;
}
#nt-storytext-container i:hover {color:#000;}
#nt-storytext-prev {margin-bottom: 30px;}

/* nt-audio */
#nt-audio {
	margin: auto;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#nt-audio-container {text-align: center;}
#nt-audio-container i {
	font-size: 36px;
	margin: 8px;
	cursor: pointer;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#nt-audio-container i:hover {color: #333;}
#nt-audio li {
	color: #f2f2f2;
	background: #74cfae;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 60px;
	padding: 10px 16px 10px 16px;
	line-height: 40px;
	list-style: none;
	font-size: 24px;
	text-align: left;	
}
#nt-audio li a {color: #FFF;}
#nt-audio li .state {font-size: inherit;margin: 0;}
#nt-audio span.hour {font-weight: 700;}
#nt-audio-infos-triangle {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 15px 16px 15px;
	border-color: transparent transparent #74cfae transparent;
	margin: 6px auto 0;
}
#nt-audio-infos {margin: auto;padding: 12px;color: #f2f2f2;background: #74cfae;}
#nt-audio-infos .infos-hour {font-size: 50px;font-weight: 700;margin-top: 20px;}
#nt-audio-infos h4 {color: #F2F2F2;font-weight: 500;}
#nt-audio-infos .infos-text {text-align: left;font-size: 14px;line-height: 20px;}
#oneliner {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	position: relative;
	margin: 0 auto 10px auto;
	width: 100%;
	height: 44px;
    background-color: #fff;
    border-radius: 2px;
}
#oneliner:before, #oneliner:after {
	border-radius: 100px 100px 100px 100px / 10px 10px 10px 10px;
	bottom: 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	content: "";
	left: 10px;
	position: absolute;
	right: 10px;
	top: 50%;
	z-index: -1;
}
#oneliner .header {
	background-color: #ff2e2e;
	display: inline-block;
	width: 15%;
	height: 44px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 44px;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	border-radius: 2px 0 0 2px;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	    -ms-transition: all .2s ease-in-out;
	     -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
	-webkit-animation: redPulse 4s infinite;
	   -moz-animation: redPulse 4s infinite;
	        animation: redPulse 4s infinite;
}
#oneliner:hover .header {
	-webkit-animation: redPulse 1s infinite;
	   -moz-animation: redPulse 1s infinite;
	        animation: redPulse 1s infinite;
}
#oneliner .header:active {background-color: #000;margin-left: -12px;color: #aaa;}
#oneliner ul.radio-newsticker {
	display: inline-block;
	height: 44px;
	width: 84.5%;
	overflow: hidden;
	margin: 0 0 0 -3px;
	padding: 0 0 0 6px;
	line-height: 44px;
	font-weight: 500;
	background-color: #fafafa;
}
#oneliner ul.radio-newsticker > li{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

@-webkit-keyframes redPulse {
  from { background-color: #ff2e2e; -webkit-box-shadow: 0 0 9px #555; }
  50% { background-color: #bd0000; -webkit-box-shadow: 0 0 14px #ff2e2e; }
  to { background-color: #ff2e2e; -webkit-box-shadow: 0 0 9px #555; }
}

@-moz-keyframes redPulse {
  from { background-color: #ff2e2e; -moz-box-shadow: 0 0 9px #555; }
  50% { background-color: #bd0000; -moz-box-shadow: 0 0 14px #ff2e2e; }
  to { background-color: #ff2e2e; -moz-box-shadow: 0 0 9px #555; }
}

@keyframes redPulse {
  from { background-color: #ff2e2e; box-shadow: 0 0 9px #555; }
  50% { background-color: #bd0000; box-shadow: 0 0 14px #ff2e2e; }
  to { background-color: #ff2e2e; box-shadow: 0 0 9px #555; }
}
.cbp-qtrotator {position: relative;margin: 0 auto 1em auto;max-width: 800px;width: 100%;}
.cbp-qtrotator .cbp-qtcontent {
	position: absolute;
	min-height: 200px;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	padding: 2em 0;
	top: 0;
	z-index: 0;
	opacity: 0;
	width: 100%;
	-webkit-backface-visibility: hidden;
}
.no-js .cbp-qtrotator .cbp-qtcontent {border-bottom: none;}
.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {position: relative; z-index: 100;pointer-events: auto;opacity: 1;}
.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {content: " ";display: table;}
.cbp-qtrotator .cbp-qtcontent:after {clear: both;}
.cbp-qtprogress {
	position: absolute;
	background: #47a3da;
	height: 1px;
	width: 0%;
	top: 0;
	z-index: 1000;
}
.cbp-qtrotator blockquote {margin: 0;padding: 0;}
.cbp-qtrotator blockquote p {
	font-size: 20px;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-weight: normal;
    margin: 0.4em 0 1em;
}
.cbp-qtrotator blockquote footer {font-size: 1.2em;}
.cbp-qtrotator blockquote footer:before {content: "__ ";}
.cbp-qtrotator .cbp-qtcontent img {float: right;margin-left: 3em;}
@media screen and (max-width: 30.6em) { 
	.cbp-qtrotator {font-size: 70%;}
	.cbp-qtrotator img {width: 80px;}
}
#header-title {background-color: #FFF;line-height: 30px;text-align: left;border-bottom: 1px solid #F22525;}
#header-title .header-title-inner {
    background-color: #F22525;
    text-align: center;
    width: 150px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
}