.comic-post-content{display:none;}
#comic-wrap .comic-thumb {float: left;width: 30%;}
.comic-thumb img {box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);}
#comic-wrap .comic-info {float: right;width: 70%;}
.comic-info ul{list-style: none;}
.comic-info ul li {text-transform: uppercase;color: #383838;line-height: 28px;clear: both;}
.comic-info ul li span{display: inline;margin: 0;padding: 5px 0;}
.comic-info ul li span.key{font-weight: 700;color: #31a95b;}
.comic-info ul li span.value a{margin-left: 5px;display: inline-block;}
.comic-info .info-footer{margin-left:2em;}
.comic-info .info-footer a.start.btn {color: #000;}
.comic-des {margin-top: 20px;}
.comic-des .comic-sum {margin:0;}
.comic-chap h3 {float: left;width: 68%;}
.comic-chap {margin-top: 20px;}
h3.h2-manga, h3.comic-des-title {font-size: 12px;text-transform: uppercase;color: #31a95b;font-weight: bold;}
.title-list-chapter span {width: 30%;float: left;text-align: left;color: #31a95b;font-size: 12px;text-transform: uppercase;font-weight: bold;}
.comic-chap-list {margin-top: 10px;float: left;width: 100%;max-height: 400px;overflow-y: scroll;}
.comic-chap-list .row {width: 100%;float: left;text-align: left;line-height: 20px;font-weight: bold;}
.comic-chap-list .row span:first-child {float: left;width: 70%;}
.comic-chap-list .row span:last-child {float: left;width: 26%;}