.book-post-content{display:none;}
#book-wrap .book-thumb {float: left;width: 30%;}
.book-thumb img {box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);}
#book-wrap .book-info {float: right;width: 65%;margin-left: 5%;font-size:12px;}
.book-info ul{list-style: none;margin-top:0;}
.book-info ul li {text-transform: uppercase;color: #383838;line-height: 28px;clear: both;}
.book-info ul li span{display: inline;margin: 0;padding: 5px 0;background:transparent;}
.book-info ul li span.key{font-weight: 700;color: #8A5300;}
.book-info ul li span.value a{margin-left: 5px;display: inline-block;}
.book-info .info-footer{margin-left:2em;}
.book-info .info-footer a.start.btn {color: #000;}
.book-des {margin-top: 30px;}
.book-des .book-sum {margin:0;}
.book-chap h3 {float: left;width: 68%;}
.book-chap {margin-top: 20px;}
h3.h2-manga, h3.book-des-title {font-size: 12px;text-transform: uppercase;color: #8A5300;font-weight: bold;}
.title-list-chapter span {width: 30%;float: left;text-align: left;color: #8A5300;font-size: 12px;text-transform: uppercase;font-weight: bold;}
.book-chap-list {margin-top: 10px;float: left;width: 100%;max-height: 400px;overflow-y: scroll;overflow-x: hidden;}
.book-chap-list .row {width: 50%;float: left;text-align: left;line-height: 20px;font-weight: 600;font-size:12px;}
.book-chap-list .row span {float: left;width: 100%;text-overflow: ellipsis;display: block;white-space: nowrap;overflow: hidden;}
.book-chap-list .row a{padding-left:5px;}
.book-chap-list .row i {font-size: 12px;}
.book3d {display: inline-block;box-shadow: 5px 5px 20px #333;margin: 10px;}
.book3d img { vertical-align: middle; }
.csstransforms3d  .books {-moz-perspective: 100px;-moz-transform-style: preserve-3d;-webkit-transform-style: preserve-3d;}
.csstransforms3d  .book3d {
	position: relative;
	-moz-perspective: 100px;
	-moz-transform: rotateY(-3deg);
	-webkit-transform: perspective(100) rotateY(-3deg);
	outline: 1px solid transparent; /* Helps smooth jagged edges in Firefox */
	box-shadow: none;
	margin: 0;
}
.csstransforms3d  .book3d img {position: relative;max-width: 100%;}
.csstransforms3d  .book3d:before,
.csstransforms3d  .book3d:after {position: absolute;top: 2%;height: 96%;content: ' ';z-index: -1;}
.csstransforms3d  .book3d:before {width: 100%;left: 7.5%;background-color: #5a2d18;box-shadow: 5px 5px 20px #333;}
.csstransforms3d  .book3d:after {
	width: 5%;
	left: 100%;
	background-color: #EFEFEF;
	box-shadow: inset 0px 0px 5px #aaa;
	-moz-transform: rotateY(20deg);
	-webkit-transform: perspective(100) rotateY(20deg);
}
#book-wrap{margin-top:10px;}