.clear { clear:both;}

/* index */
.viewport{margin:0 auto;position:relative; max-width:100%; }
.center-content { position: relative; width:1280px; margin: 0 auto; }
/* head */
.index_hd{
	margin:0 auto;
	min-width:1280px;
	height: 56px;
	background:#a20061;
	color:#E2F2FA;
}
.index_hd .left_logo{ float:left; margin-top:10px; margin-left: 32px }
.index_hd .left_logo img{ width: 140px; height: 40px}
.hd_nav ul{ overflow:hidden; float:left; padding-left:30px; }
.hd_nav li{float:left;line-height:56px;}
.hd_nav li a {padding:0 16px; color:#ffffff;}
.hd_nav .pageList li:hover { background: #f58405; }
.hd_nav li a{font-size:16px; text-decoration: none; font-weight: bold; padding-top: 20px; padding-bottom: 20px; cursor: pointer}
.index_hd .hd_btn_box { float:right;font-weight: bold; margin-right: 32px; position:relative; }
.index_hd .hd_btn_box .search_wrap { width:334px; height:35px; float:left; margin-top:10px; margin-right:5px; position:relative }
.index_hd .hd_btn_box .search_wrap img { position:absolute;z-index: 1 }
.index_hd .hd_btn_box .search_wrap input { width:230px; height:34px; position:absolute; left:16px; top:1px; border:none; color:#b7b7bb; font-size:14px; outline:none;z-index: 2 }
.index_hd .hd_btn_box .search_wrap .operation { position:absolute; right:10px; z-index: 3; width:80px; height:35px; }
.index_hd .hd_btn_box .search_wrap .operation span { width:80px; height:20px; display:inline-block; margin-top:6px; color:#a20061; font-size: 16px; }
.index_hd .hd_btn_box .search_wrap .operation span img { position:relative;}
.index_hd .hd_btn_box .search_wrap .operation span a { display:inline-block; height:18px; color:#a20061;}
.index_hd .hd_btn_box .search_wrap .operation span a:hover { cursor: pointer;}
.index_hd .hd_btn_box ul {height:56px;padding:0px;}
.index_hd .hd_btn_box ul .publish { margin-left:10px; }
.index_hd .hd_btn_box .bar { margin-right: 0px; padding-bottom: 18px; padding-top: 18px}
.index_hd .hd_btn_box .main_search { width:18px; height:18px; clear:both; display: block; float:right; margin-top: 2px;}
.index_hd .hd_btn_box .main_user { width:36px; height:36px; clear:both; display: block; float:left; margin-top: -6px;margin-right: 5px;border-radius: 18px}
.index_hd .hd_btn_box .downIcon { width:10px; height:5px; }
.index_hd .hd_btn_box ul li { height:56px;margin-right: 0px;}
.index_hd .hd_btn_box ul .l_search { margin-right:10px; }
.index_hd .hd_btn_box .a_search{ padding-bottom: 40px }
.index_hd .hd_btn_box .operationList li:hover{ background: #f58405; }
.index_hd .hd_btn_box ul li a { display: block;font-size: 13px;line-height: 20px;padding:18px 10px 18px; cursor: pointer; }
.index_hd .hd_btn_box .div_line{ width: 1px;border-left: 1px solid #ffffff;height: 16px;margin-top: 18px }
.index_hd .hd_btn_box .li_line:hover{ background: #00aeef;cursor: default }
.fl { float: left;}
.footer{ border-top:1px solid #d7d7d7; padding-top:12px; margin-top:30px; color:#999; min-width:1280px; width:100%;margin:0 auto; font-size:12px;}
/*Home main content*/
.recommenStory { border-bottom:1px solid #ededed; margin:auto; }
.home_main{ min-width:1280px;  margin: 0 auto; background:#fff; }
.img_wrap{ margin: 0 auto; padding-top: 25px; background: url("https://lh3.googleusercontent.com/-FFaSgnN-JrA/Wil3Z3OfqMI/AAAAAAAAE_0/EGz0WJv-3TcsTXsOSkVwno9_hl_E8PM5QCKgBGAs/s1600/indexBg.jpg") no-repeat; background-size:100% 100%;; height: 500px; }
.img_wrap img{ opacity:1;-webkit-transition:opacity 0.3s;transition:opacity 0.3s;}
.img_wrap img:hover{ opacity: .7;}
.img_wrap .left_img{ width:912px;  position: relative; float: left; margin-left: 36px; overflow: hidden; }
.img_wrap .left_img .tips{
    position: absolute;
    left:0;
    bottom: 10px;
    height:30px;
    width: 100%;
    color: #fff;
    padding: 5px;
    line-height: 20px;
    background-color: rgba(0,0,0,.3);
    font-size: 34px;
    font-family: "Times New Roman", Times, Georgia, serif;
    font-style: italic;
}

.img_wrap .left_img .slider { height: 444px; }
.img_wrap .left_img .slider li { float:left; }
.img_wrap .left_img .num { position:absolute; z-index: 3; right:80px; top:400px;  }
.img_wrap .left_img .num li { float:left; color:#fff; width:10px; height:10px; border-radius: 50%; background:#a3a4a3; margin-right:10px; }
.img_wrap .left_img .num .on { background:#a20061; }
.img_wrap .left_img img{ width: 912px;height: 444px;}
.img_wrap .left_img .main_image{ width:912px; height: 444px; overflow: hidden;position:relative; }
.main_image ul{ position:absolute;top:0;left:0;}
.main_image li{ float:left;position: relative;}
.main_image li div.title{ width: 100%;height:50px;background:#000;opacity: .7;color: #fff;position: absolute;bottom: 15px;left: 0;text-align: left;line-height: 30px;padding-left: 30px;}
div.flicking_con{ position:absolute; bottom:5px; left:50%; z-index:2; width:300px; height:21px; text-align: right;}
div.flicking_con a{ display:inline-block; width:10px; height:10px; margin:0; padding:0; background: #a3a4a3; border-radius: 50%; text-align: center; line-height: 21px; text-decoration: none; color: #fff; margin-right: 2%;}
div.flicking_con a.on{ background: #a20061;}

.img_wrap .right_small{ width: 280px; margin-bottom: -18px; margin-left:12px; margin-right:-18px; padding: 0;}
.img_wrap .right_small li{ margin-bottom: 11px;}
.img_wrap .right_small li:nth-child(2n){ margin-right:0;}
.img_wrap .right_small li img{ width: 280px;height: 140px;}


.leftside {
	margin:0 auto;
	width:1200px;
	padding-bottom: 37px;
}
.stick { border:none;}
.each_wrap { overflow: hidden; }
.each_wrap .top { margin-top:25px;margin-bottom: 21px;position: relative;}
.each_wrap .top .top_more { color:#999ca8;font-size: 16px;float:right; margin-right:35px; }
.each_wrap .title { font-size: 20px;font-weight: bold;}
.each_wrap .list_img { width:1250px;padding-left: 0; padding-bottom:10px; border-bottom:1px solid #ededed}
.each_wrap .list_img li { width:180px;float:left;margin-right:24px; }
.each_wrap .list_img li .list_img_wrap a:first-child { display:block; width:180px; height: 250px}
.each_wrap .list_img li p { margin-bottom: 10px; }
.each_wrap .list_img li .p1 {
    height: 20px;
    overflow: hidden;
}
.each_wrap .list_img li p img { width:20px;height:16px;margin-right:10px;margin-bottom:15px; float:left; }
.each_wrap .list_img li .p3 { display:inline-block; position: relative; width: 100%;}
.each_wrap .list_img li .p3 a { display:inline-block; width:50%; height:16px;}
.each_wrap .list_img li .p3 a span, .each_wrap .list_img li .p2 a span { height:16px; color:#b2b2b2; font-weight:normal;}
.each_wrap .list_img a { color:#b2b2b2;}
.each_wrap .list_img img { width:180px; height:250px;}
.each_wrap .list_img span { color:#000000;font-weight: bold;font-family: Arial, Verdana, sans-serif;}
.each_wrap .list_img .list_img_wrap { margin-bottom: 10px;}
#dis { border:none; }
#publish { background:#fff;padding-top:6px;padding-bottom: 36px; min-width:1280px;}
#publish .center_wrap { width:1200px; height:230px; margin:0 auto; position:relative; }
#publish .center_wrap .wrap { width:650px; position:absolute; left:270px; }
#publish .center_wrap img { width:305px; height:211px; position:absolute; left:940px; top:15px; }
#publish .center_wrap .wrap h1 { color:#a20061; }
/*Search results page style*/
.search_box { background:url("../image/search/u1042.png"); width:1200px; height:116px; margin:0 auto; margin-top:14px;}
.search_box .search_area { width:inherit; height:65px; position:relative; border-bottom: 1px solid #ededed}
.search_box .search_area .search_bg { position:absolute; z-index: 1; left:237px; top:11px; }
.search_box .search_area input { width:547px; height:39px; position:absolute; z-index: 2; left:243px;top:14px; border:none; outline:none; color:#b7b7bb; font-size:16px}
.search_box .search_area a { width:90px;height:45px;display:inline-block;cursor: pointer;position:absolute; z-index: 2; left:869px; top:12px;}
.search_box .search_area a span { position:absolute;left:20px; top:13px; z-index: 3; font-size:16px; color:#fff; }
.search_box .search_tab {  width:inherit; height:48px; padding-left:10px; }
.search_box .search_tab .tabs {  margin-top:10px;}
.search_box .search_tab .tabs li { float:left; text-align:center; font-size:16px; padding-bottom: 4px; padding-top:3px; margin-right:5px; color:#a4a4a4; cursor: pointer}
.search_box .search_tab #tabId1 { width:102px; }
.search_box .search_tab #tabId2 { width:134px;}
.search_result .no_work{
    width: 1200px;
    height: 400px;
    background: #ffffff;
    padding-top: 60px;
    text-align: center;
}
.search_result .no_work div{
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: #999999;
    line-height: normal;
    margin-left: 20px;
}

.search_result{ width:1200px; margin:auto; margin-top:28px; overflow: hidden; margin-bottom: 26px;}
.search_result .item_wrap { width:1260px;}
.search_result .item {width:226px; height:421px; background:url("../image/search/u117.png"); float:left; margin-right:17px; margin-bottom: 18px; }
.search_result .item img { width:inherit; height:320px; cursor: pointer}
.search_result .item .content { width:inherit; height:100px; padding-left:12px;}
.search_result .item .content h5 {  font-weight: bold; margin-bottom: 5px; cursor: pointer }
.search_result .item .content p { color:#949494; cursor: default}
.search_result .item .content span { margin-right:40px;}
.search_result .item .content em { font-style: normal;}
.search_result .item .content span img { width:18px; height:18px; margin-right:5px;}
.search_result .item .content .arrow { width:7px; height:9px; margin-right:5px; margin-left:4px;}
/*Comic details style*/
.detail_main { width: 1280px; margin:0 auto; }
.detail_main .detail_wrap { width: 1208px; margin:0 auto; background:#f4f5f7; }
.detail_main .count_commentText{margin-left: 1135px}
.detail_main .count_reply{margin-left: 945px}
.detail_main .count_aitUserName{margin-left: 893px}
.detail_main .headImg img{cursor: pointer}
.describe { max-width: inherit; height:340px; margin-top:12px; background: #ffffff; padding-top:1px; }
.describe .desc_wrap { width:1172px; height:300px; margin-left:20px; margin-top:20px;}
.describe .desc_wrap .comicImg { width:216px;height:inherit;float:left;}
.describe .desc_wrap .comicImg img { width:216px;height:inherit; }
.describe .desc_wrap .desc_content { width:916px;height:inherit; float:right; position:relative; margin:auto;}
.describe .desc_wrap .desc_content h1 { margin-top:-4px;margin-bottom: 13px;}
.describe .desc_wrap .desc_content p { color:#b4c5df; font-weight: bold;}
.describe .desc_wrap .desc_content .tb_info ul li {
    margin: 10px 0;
}
.describe .desc_wrap .desc_content .tb_info ul li > div {
	display: inline-block;
    width: 30%;
}
.describe .desc_wrap .desc_content .tb_info .big {width:100%;}
.describe .desc_wrap .desc_content .p1 { margin-top:8px;margin-bottom: 8px;font-size: 13px;}
.describe .desc_wrap .desc_content .p2 { font-size: 14px;}
.describe .desc_wrap .desc_content span { color:#333333; font-weight: normal;}
.describe .desc_wrap .desc_content .btn_wrap { display: inline-block; float:left;position:absolute;bottom:0;}
.describe .desc_wrap .desc_content .icon_wrap { position:absolute; bottom: -10px;right:-17px;}
.describe .desc_wrap .desc_content .icon_wrap li { float:left; margin-right:16px;}
.describe .desc_wrap .desc_content .icon_wrap img { width:30px; height:30px; }
.describe .desc_wrap .desc_content .chapter,
.describe .desc_wrap .desc_content .favorite {
	display:inline-block;
	width:132px;
	height:42px;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	float:left;
}
.describe .desc_wrap .desc_content .chapter {	
	background: #a20061;
	color:#ffffff;
	margin-right: 40px;	
}
.describe .desc_wrap .desc_content .chapter span,
.describe .desc_wrap .desc_content .chapter a { color:#fff;}
.describe .desc_wrap .desc_content .chapter a { display:block; width:132px;height:42px; text-align: center;line-height: 42px; }
.describe .desc_wrap .desc_content .favorite {	
	background: #f2f2f2;
	color:#c1cee4;	
	text-align: center;
	line-height: 42px;		
}

.chapters { max-width: inherit; margin-top:30px; background:#ffffff; padding-top:1px; }
.chapters .chapt_wrap { position: relative; margin-bottom: 10px; }
.chapters .chapt_wrap p { position:absolute;display:block; left:35px; top:20px;font-size:15px; font-weight: bold; }
.chapters .chapt_wrap p span { cursor: pointer }
.chapters .chapt_wrap .chapt_menu { width:980px; min-height:40px; float:right;position: relative;padding-right:30px; padding-top:8px; }
.chapters .chapt_wrap .chapt_menu .now_btn,.chapters .chapt_wrap .chapt_menu .scope_btn { width:84px;height:26px; border-radius: 3px; margin-top:10px; float:left; margin-left:10px; text-align: center; line-height: 26px; cursor: pointer }
.chapters .chapt_wrap .chapt_menu .now_btn { background:#a20061; color:#fff}
.chapters .chapt_wrap .chapt_menu .scope_btn { border:2px solid #eeeeee; color:#dddddd; font-weight: bold }
.chapters .tb_chapter { margin:0 15px; }
.chapters .tb_chapter .chapter_item {
	display: inline-block;
    width: 12.5%;
    height: 180px;
	text-align: center;
	border-bottom: 1px solid #ebe9e9;
	padding-top: 17px;
}
.chapters .tb_chapter .chapter_item a { color:#868686; cursor: pointer; }
.chapters .ab_chapter{height: 150px;padding-top: 35px}
.chapters .ab_chapter .ab_img{width: 970px;height: 90px;margin: 0 auto;}

.comments { max-width: inherit; margin-top:30px; margin-bottom: 30px; background: #ffffff; padding-top:1px; }
.comments .title { margin-left: 35px; margin-top:13px; font-size:15px; font-weight: bold;}
.comments .comment_area { margin-top:24px; position:relative;}
.comments textarea { width:1122px; height:60px; position:absolute; left:47px;top:5px; z-index: 1; background: transparent; border:none; outline:none; resize:none;}
.comments img { margin-left:35px; z-index: 2}
.comments .commentBtn { width:98px; height:38px; background: #a20061; text-align: center; line-height: 38px; color:#ffffff; font-size: 16px; margin-left:1085px; margin-top:10px; border-radius: 5px; cursor: pointer;}
.comments .commentList { display:inline-block; margin-left:40px; margin-top:10px; padding-left:0; width:1140px; }
.comments .commentList .comms { display:inline-block; width:1140px; padding-bottom: 0px; }
.comments .commentList .comms .comment { display:inline-block; padding-left:0; border-bottom:1px solid #ebe9e9;  padding-top:5px; padding-bottom: 10px; }
.comments .commentList .comms .comment .headImg { display:inline-block; float:left; width:40px; height:40px; margin-left:-4px; border-radius: 50%}
.comments .commentList .comms .comment .headImg img { margin-left: 0; width:40px; height:40px; border-radius: 50%}
.comments .commentList .comms .comment .details { float:left; width:1090px; padding-left:10px; }
.comments .commentList .comms .comment .details img { width:20px; height:18px; margin-left: 0px;}
.comments .commentList .comms .comment .details span { font-size:16px; color:#30a0d8;}
.comments .commentList .comms .comment .details em { color:#a3a1a1; font-style:normal; font-size: 15px; }
.comments .commentList .comms .comment .details strong { color:#6f748b; font-weight: normal; font-size:13px;}
.comments .commentList .comms .comment .details p { font-size:16px; }
.comments .commentList .comms .comment .details p img { cursor: pointer; }
.comments .commentList .reply_wrap { display:none; margin-top:10px; padding-left:42px; padding-bottom: 10px; border-bottom:1px solid #ebe9e9}
.comments .commentList .replyList .replys .reply .details .rep { cursor: pointer; color:#a3a1a1; }
.comments .commentList .reply_wrap .replyLoad { width:1050px; height:50px; background:url("../image/comicDetail/u1055.png"); background-size:100%; text-align: center; line-height: 50px; position:relative; cursor: pointer }
.comments .commentList .reply_wrap .replyLoad:hover { background:url("../image/comicDetail/u1055_mouseOver.png") }
.comments .commentList .reply_wrap .replyLoad span { height:50px; position:absolute; left:410px; color:#a3a1a1; }
.comments .commentList .reply_wrap .replyLoad img { height:16px; position:absolute; width:16px;left:504px; top:18px; }
.comments .commentList .reply_area { width:1100px; position:relative; margin-bottom: 26px; }
.comments .commentList .reply_area img { margin-left:0 }
.comments .commentList .reply_area textarea { width:970px; height:39px; position:absolute; z-index: 2;top:1px; left:10px; border:none; outline: none; overflow-y:hidden; line-height: 36px; }
.comments .commentList .reply_btn { float:right; width:98px; height:38px; background:#a20061; text-align: center; line-height: 38px; color:#ffffff; font-size: 16px; margin-left:10px; cursor: pointer; margin-top:2px; border-radius: 5px; }
.comments .commentList .replyList { width:inherit; padding-left:0; margin-top:1px;}
.comments .commentList .replyList .replys { display:inline-block; width:1100px; }
.comments .commentList .replyList .replys .reply { width:1050px; display:inline-block; padding-left:0; border-bottom:1px solid #ebe9e9; padding-bottom: 10px; position:relative; }
.comments .commentList .replyList .replys .reply .headImg { display:inline-block; float:left; width:40px; height:40px; }
.comments .commentList .replyList .replys .reply .headImg img { margin-left: 0; width:40px; height:40px; border-radius: 50%}
.comments .commentList .replyList .replys .reply .details { float:left; width:1008px; padding-left:10px; }
.comments .commentList .replyList .replys .reply .details .uName { margin-bottom: 3px; }
.comments .commentList .replyList .replys .reply .details .content { margin-bottom: 7px; }
.comments .commentList .replyList .replys .reply .details .content span { color:#66CCFF }
.comments .commentList .replyList .replys .reply .details img { width:20px; height:18px; margin-left: 0px; }
.comments .commentList .replyList .replys .reply .details span { font-size:16px; color:#30a0d8; }
.comments .commentList .replyList .replys .reply .details em { color:#a3a1a1; font-style: normal; }
.comments .commentList .replyList .replys .reply .details strong { color:#6f748b; font-weight: normal; font-size:13px; }
.comments .commentList .replyList .replys .reply .details p { font-size:16px; }
.comments .commentList .replyList .replys .reply .details img { cursor: pointer; }
.comments .commentList .replyList .replys .aitReplay_wrap { width:1046px; display:block; margin-left:45px; display:none; }
.comments .commentList .replyList .replys .aitReplay_wrap .aitReply { position:relative; float:left;}
.comments .commentList .replyList .replys .aitReplay_wrap .aitReply img { margin-left:0; z-index: 1; }
.comments .commentList .replyList .replys .aitReplay_wrap .aitReply textarea { width:900px; height:38px; position:absolute; z-index: 2; left:10px; top:1px; outline: none; line-height: 34px; overflow-y:hidden; color:#a3a1a1}
.comments .commentList .replyList .replys .aitReplay_wrap .aitReplyBtn {  width:98px; height:38px; background:#a20061; text-align: center; line-height: 38px; color:#ffffff; font-size: 16px; float:left;margin-left:10px; cursor: pointer; border-radius: 5px; }

.loading { max-width: inherit; height:60px; margin-bottom: 35px; background: #ffffff; text-align: center}
.loading .load{ width:100px; margin:0 auto; display: inline-block; margin-top:16px; height:22px; line-height: 22px;}
.loading .load span { font-size: 13px;}

/*stips*/
.menu { background: url("../image/strip/menuBg.png"); min-width:1280px; height:68px; margin:0 auto; margin-bottom: 20px; padding-top:14px;}
.menu ul { }
.menu li { float:left; color:#9999a5; font-size:16px; padding:9px 6px; margin-right:48px;}
.menu li:hover { color:#00aaee; border-bottom:2px solid #00aaee;}
.content_wrap { display:block; width:1206px; margin:0 auto;}
.content_wrap .comic_strips { width:882px; margin-right:18px; float:left; }
.content_wrap .comic_strips ul { padding:0}
.content_wrap .comic_strips li { margin-bottom: 18px; background: #ffffff;}
.content_wrap .comic_strips .headImg { border-radius:50%; overflow:hidden; background: #ffff00; width:50px; height:50px; float:left; margin-right:10px;}
.content_wrap .comic_strips .info { float:left; }
.content_wrap .comic_strips .strip_head { display:inline-block; width:882px; padding-top:16px; padding-left:10px;}
.content_wrap .comic_strips .strip_head .info span { color:#a1b5d2;}
.content_wrap .comic_strips .strip_head .info p { font-size:16px;}
.content_wrap .comic_strips .strip_img { text-align: center; border-bottom:1px solid #e4e4e4; padding-bottom: 28px;}
.content_wrap .comic_strips .strip_footer { text-align: center; padding-top:17px; padding-bottom: 11px; }
.content_wrap .comic_strips .strip_footer .strip_wrap { display:inline-block; margin:auto;}
.content_wrap .comic_strips .strip_footer .goodBtn,.content_wrap .comic_strips .strip_footer .msg { width:138px; height:35px;background: url("../image/strip/grayBg.png"); float:left; padding-left:16px; padding-top:6px; margin-right:11px;}
.content_wrap .comic_strips .strip_footer .goodBtn img,.content_wrap .comic_strips .strip_footer .msg img { float:left;}
.content_wrap .comic_strips .strip_footer .goodBtn .sum,.content_wrap .comic_strips .strip_footer .msg .sum { float:left; width:90px;  height:35px; margin-top:-6px; text-align: center; line-height: 35px;}
.content_wrap .comic_strips .strip_footer .facebook { width:114px; height:35px; background: url("../image/strip/blueBg.png"); float:left; color:#ffffff; font-weight: bold; font-size: 14px; padding-left:10px; padding-top:6px; margin-right:3px;}
.content_wrap .comic_strips .strip_footer .facebook img { margin-right:2px; }
.content_wrap .comic_strips .strip_footer .more { width:23px; height:35px; background: url("../image/strip/moreBg.png"); float:left; text-align: center; padding-top:18px;}
.content_wrap .comic_strips .strip_footer .more img { display: block; margin: -8px auto;}
.content_wrap .right_list { width:304px;float:left; }
.content_wrap .right_list ul { padding:0}
.content_wrap .right_list .news { margin-bottom: 23px}
.content_wrap .right_list ul img { width:304px;}

/*story*/
.storyArea,.popular_main { min-width: 1280px; margin:0 auto;}
.storyArea .menu_tab,.popular_main .menu_tab { width:100%; height:66px; margin:auto; background: url("http://www.zingbox.me/image/strip/menuBg.png"); padding-left:10px;padding-top:11px; text-align: center; }
.storyArea .menu_tab .menu_wrap ,.popular_main .menu_tab .menu_wrap { width:1200px; margin:0 auto; position:relative; display:inline-block; padding-left: 12px; }
.storyArea .menu_tab .menu_wrap ul ,.popular_main .menu_tab .menu_wrap ul { float: left; }
.storyArea .menu_tab .menu_wrap .tab ,.popular_main .menu_tab .menu_wrap .tab { margin-top:16px; font-size:30px; font-weight: bold; }
.storyArea .menu_tab .menu_wrap .tab li { height:30px; float:left; font-size:16px;  margin-right:48px; }
.storyArea .menu_tab .menu_wrap .tab li a { display:block ; color:#9999a5; font-size:16px; padding:0 6px; padding-top: 3px; }
.storyArea .menu_tab .menu_wrap .tab li a:hover { color:#00aaee;  border-bottom:2px solid #00aaee; cursor: pointer; }
.storyArea .menu_tab .menu_wrap .tab li .active { color:#00aaee;  border-bottom:2px solid #00aaee; cursor: pointer;}
.storyArea .menu_tab .menu_wrap .category ,.popular_main .menu_tab .menu_wrap .category {  height:30px; width:154px; color: #fff; padding-top:6px; padding-left:13px; text-align: left; position:absolute; right:0px; top:9px;  background:url("http://www.zingbox.me/image/story/u151.png");}
.storyArea .menu_tab .menu_wrap .category:hover ,.popular_main .menu_tab .menu_wrap .category:hover { background: url("http://www.zingbox.me/image/story/u1309_mouseOver.png"); cursor: pointer; }
.storyArea .menu_tab .menu_wrap .category img ,.popular_main .menu_tab .menu_wrap .category img { position:absolute; right:13px; top:12px;}
.storyArea .menu_tab .menu_wrap .categories,
.popular_main .menu_tab .menu_wrap .categories {
	position:absolute;
	z-index: 3;
	right:0px;
	top:39px;
	background:url("http://www.zingbox.me/image/story/u1301_mouseOver.png");
	display:none;
}
.storyArea .menu_tab .menu_wrap .categories .col ,.popular_main .menu_tab .menu_wrap .categories .col { float:right; border-right:1px solid #797979;}
.storyArea .menu_tab .menu_wrap .categories .col li ,.popular_main .menu_tab .menu_wrap .categories .col li { height:30px; width:154px; color: #fff; padding-top:8px; padding-left:18px; text-align: left}
.storyArea .menu_tab .menu_wrap .categories .col li:hover ,.popular_main .menu_tab .menu_wrap .categories .col li:hover { background: url("http://www.zingbox.me/image/story/u1309_mouseOver.png"); cursor: pointer;}


.mainArea { width:1210px; margin:0 auto; margin-top:12px; overflow: hidden; z-index: 1;}
.mainArea .comic_wrap { width:100%; }
.mainArea .comic_wrap:after {
    content: "";
    clear: both;
    display: table;
}

.mainArea .comic {
	width:19%;
	    width: calc(20% - 14px);
	background: #FFF;
	float:left;
	margin: 0 7px 16px;
}
.mainArea .comic a { display: block;}
.mainArea .comic img { width:100%; height:auto;}
.mainArea .comic h5 {  margin-bottom: 6px;}
.mainArea .comic h5 .title {
	width:100%;
	height:auto;
	display:inline-block;
	font-weight: bold;
	color:#000;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mainArea .comic .description {
	padding: 0 5px;
}
.mainArea .comic .description p.cat {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
} 
.mainArea .comic p {color: #949494; margin-bottom: 4px; cursor: default}
.mainArea .comic p img { width:7px;height:9px; margin-right:8px;}
.mainArea .comic .icons { display:inline-block; width: 100%;}
.mainArea .comic .icons a {	
	height:auto;
	display:inline-block;
	color:#b2b2b2;
}
.mainArea .comic .icons a:first-child {
	width: 70%;
}
.mainArea .comic .icons a:last-child {
	width: 30%;
}
.mainArea .comic p span { font-size:10px;}


.story_main { position:relative; z-index: 5; }
.story_read_main {
	background:#2d2d2d;
	width: 100%;
	min-height:1123px;
	padding-bottom: 30px;
}
.story_read_main .nav {
	height:54px;	
	background:#0a0a0a;
	width:100%;
	z-index: 5;
}
.story_read_main .nav .wrap_area {
	width: 100%;
	max-width: 1200px;
    height: 54px;
    margin: 0 auto;
	position:relative;
}
.story_read_main .nav .wrap_area img {
	cursor: pointer
}
.story_read_main .nav .wrap_area .menuArea {
	width:198px;
	height:160px;
	position:absolute;
	z-index: 3;
	left:835px;
	top:50px;
	display: none;
}
.story_read_main .nav .wrap_area .menuArea .menu_wrap { overflow-y:scroll; overflow-x: hidden; height:160px; }
.story_read_main .nav .wrap_area .menuArea .menu_wrap .menu_box { width:180px; min-height:160px; background:#333333; }
.story_read_main .nav .wrap_area .menuArea .menu_wrap .menu_box li { color:white; height:16px; padding-top:0; cursor: pointer; overflow: hidden; }
.story_read_main .nav .title { width:110px; height:22px; position:absolute; left:145px; top:15px;}
.story_read_main .nav p { display:block; position:absolute; left:265px; top:13px;}
.story_read_main .nav p a { color:#fff; font-size:20px; }
.story_read_main .nav .menu_area { width:172px; height:29px; position:absolute; left:860px; top:14px; background:#292929; overflow: hidden; }
.story_read_main .nav .menu_area img { width:18px; height:16px; cursor: pointer }
.story_read_main .nav .menu_area span {
	display:inline-block;
	padding:0 10px;	
	font-size: 24px;
    line-height: 29px;
    color: #6e6e6e;
}
.story_read_main .nav .menu_area span i {
	cursor: pointer;
}
.story_read_main .nav .menu_area span i:hover {
	color: #FFF;
}
.story_read_main .nav .menu_area span i:nth-child(2) {
    margin: 0 20px;
}
.story_read_main .nav .menu_area span .center_img { margin:0 30px;}
.story_read_main .nav .menu_area span img {  float:left; }
.story_read_main .nav .menu_area .out_img { width:20px; height:18px; margin-top:-10px; margin-left:8px; }
.story_read_main .read_page {
	width:100%;
	margin:0 auto;
	position:relative;
}
.story_read_main .read_page .top_area {
	height:60px;
	padding-left:4px;
	position:relative;
	top: 10px;
	max-width: 980px;
    margin: 0 auto;
    width: 100%;
}
.story_read_main .read_page .top_area p { color:#fff; font-size:16px; position:absolute; top:20px; left:4px; display:block; }
.tab_wrap { position:absolute; right:0; top:15px; }
.tab_wrap div { float:left; cursor:pointer; }
.tab_wrap .forward {
	width:62px;
	height:25px;
	background:#434343;
	color:#fff;
	text-align: center;
	line-height: 25px;
}
.tab_wrap .ch_menu {
	width:80px;
	height:25px;
	background:#434343;
	color:#fff;
	line-height: 25px;
	margin:0 10px;
	padding-left:14px;
}
.tab_wrap .ch_menu img { width:10px; height:10px; }
.tab_wrap .ch_menu a { color:#fff; }

.box { top:-700px;}
.box,.box1,.box2 {
	margin:0 auto;
	width:80px;
	height:250px;
	background:#434343;
	position:absolute;
	z-index: 2;
	position:absolute;
}
.box1,.box2 {
	display:block;
	left:72px;
}
.box1 {
	top:25px;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}
.box2 {
	bottom:25px;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}
.box2 #listbox { bottom: 0}
#wrap { width:80px; height:250px; background:#434343; overflow:hidden; position:relative; }
#wrap img{ width:10px; height:10px; }
#wrap .scrollUp { position:absolute; right:0; }
#wrap .scrollDown { position:absolute; right:0; bottom: 0; }
#wrap #listbox { float:left; width:70px; position:absolute; left:0; }
#wrap #listbox li { width:70px; height:25px; list-style:none; color:#fff;padding-left:14px; line-height: 25px; cursor: pointer; }
#wrap #listbox li:hover { background:#1c1c1d;}
#wrap #scrollbox { float:right; width:10px;height:230px; background: #333; position:relative; margin:10px 0; }
#wrap #scrollbar { width:10px; height:30px; background:#6c6c6c; position:absolute; left:0; top:0;}


.story_read_main .comic_area { text-align: center; margin-top: 10px}
.loaded { width:870px; height:900px; vertical-align: middle; display: table-cell; background:#000; }
.story_read_main .comic_area img { max-width:870px; margin:auto }
.story_read_main .read_page .bottom_area {
	height:85px;
	padding-top:5px;
	position:relative;
	text-align: center;
	max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
.story_read_main .read_page .bottom_area p { color:#fff; font-size:20px; font-weight: bold; display:block; margin-top:25px; display:block; float:left; margin-right:420px; }
 .ads_area { text-align: center; }
 .ads_area img { width:654px; height:80px; }

.story_read_main .read_scroll1 {
	width:100%;
	margin:0 auto;
	padding-top: 10px;
}
.story_read_main .read_scroll1 .top_area {
	max-width:980px;
	width: 100%;
	height:60px;
	margin: 0 auto;
	padding-top: 24px;
	padding-left:4px;
	position:relative;
}
.story_read_main .read_scroll1 .top_area p { color:#fff; font-size:16px; display:block; position:absolute; top:20px; }
.story_read_main .read_scroll1 .comicList {
	width: 100%;
	margin-top:0;
	text-align: center;
}
.story_read_main .read_scroll1 .comicList .item {
	width: 100%;
    text-align: center;
}
.story_read_main .read_scroll1 .comicList .item .comicImg {
	width: 100%;
    text-align: center;
}
.story_read_main .read_scroll1 .comicList img { max-width:100%; width: auto; }
.story_read_main .read_scroll1 .comicList .pageInfo {
	max-width:980px;
	width: 100%;
	margin: 0 auto;
	color:#fff;
	height:35px;
	padding-top:8px;
	position:relative;
	text-align: center;
}
.story_read_main .read_scroll1 .bottom_area {
	position: relative;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
.story_read_main .read_scroll1 .bottom_area h1 {
	color:#fff;
	float:left;	
	margin-top:5px;
}
.story_read_main .read_scroll1 .bottom_area .chShift {
	display: inline-block;
    float: right;
}
.story_read_main .read_scroll1 .bottom_area .chShift .preCh,
.story_read_main .read_scroll1 .bottom_area .chShift .nextCh {
	width:136px;
	height:30px;
	background:#434343;
	border-radius: 4px;
	display:inline-block;
	margin-left:16px;
	margin-top:5px;
	color:#fff;
	text-align: center;
	line-height: 30px;
	font-size:12px;
	cursor: pointer
}
/*************************** Bottom style ****************************/
#publish { text-align: center; }
#publish h1 { font-size:40px; }
#publish p { font-size:17px; color:#999999; }
#publish .publish_btn { margin:0 auto; margin-top:30px;width:155px;height:40px;border-radius: 6px;background: #a20061;text-align: center;line-height: 40px;color:#fff;font-weight: bold; cursor: pointer;}
.footer {
    position: relative;
    width: 100%;
    height: 150px;
    background: url('https://lh3.googleusercontent.com/-Z0dpQikYkWc/Wil3Z-TQIyI/AAAAAAAAE_0/DMwnfYjhR-MpYNeD44KAxOlcpLraRZv2gCKgBGAs/s1600/footLine.png');
    padding: 0px;
}

.footer .nav{
    display: inline-block;
    min-width:1280px;
    vertical-align: top;
    margin-top: 30px;
}

.footer .nav .links { width:440px; }
.footer .nav span a,.footer .nav span a:visited,.footer .nav span a:active {
    cursor: pointer;
    font-size: 18px;
    color: #A1A1A1;
    font-family: 'Arial Normal', 'Arial';
    display: inline-block;
    margin-right: 18px;
}
.footer .nav span a:hover{
    color: rgba(0,170,238,1);
}

.footer .logo_2 {
    width: 267px;
    height: 34px;
    top: 20px;
    background: url('../image/facebookIcon.png');
    margin-right:50px;
}
.footer .copyright{
    margin-top: 5px;
    font-size: 15px;
    color: #BCBCBC;
    text-align: center;
    font-family: 'Arial Normal', 'Arial';
}


/************************* popular page ***************************/
.popular_main .menu_tab .menu_wrap .tab li { height:30px; float:left; font-size:20px;  margin-right:48px;  font-family: 'Arial Normal', 'Arial';font-weight: 400;font-style: normal;color: #00AAEE;}

.popular_main .menu_tab .menu_wrap .tab li { height:30px; float:left; font-size:16px;  margin-right:48px; }
.popular_main .menu_tab .menu_wrap .tab li .unselected { display:block ; color:#9999a5; font-size:16px; padding:0 6px; padding-top: 3px; }
.popular_main .selected { display:block ; color:#00aaee; font-size:16px; padding:0 6px; padding-top: 3px; border-bottom:2px solid #00aaee; cursor: default;}
.popular_main .menu_tab .menu_wrap .tab li a:hover,.popular_main .selected { color:#00aaee;  border-bottom:2px solid #00aaee; cursor: pointer; }
.popular_main .menu_tab .menu_wrap .tab li a:visited { color:#00aaee;  border-bottom:2px solid #00aaee; cursor: pointer; background:black}

/**************************** update book ******************************/
.new_story_main .back_div{
    display: inline-block;
    color: #49bcea;
    font-size: 18px;
    cursor: pointer;
    float: left;
    margin-top: 26px;
    margin-left: 20px;
}

.new_story_main .main_context{
    position: relative;
    width: 1200px;
    /*height: 820px;*/
    margin: 27px auto 30px;
    background: #ffffff;
    padding-bottom: 50px;
}

.new_story_main .update_title{
    width: 100%;
    height: 76px;
    border-bottom: #f4f5f7 1px solid;
    text-align: center;
    margin-bottom: 12px;
}

.new_story_main .update_not_next{
    display: inline-block;
    width: 150px;
    height: 45px;
    background: #f3f2f0;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    margin-left: 60px;
    border-radius: 4px;
    color: #797979;
    cursor: default;
}

.new_story_main .update_next_div{
    display: inline-block;
    width: 150px;
    height: 45px;
    background: #49BCEA;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    margin-left: 60px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
}

.new_story_main .go_back_div{
    display: inline-block;
    width: 150px;
    height: 45px;
    background: #f3f2f0;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    margin-left: 400px;
    border-radius: 4px;
    color: #797979;
    cursor: pointer;
}
